@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>@ViewData["Title"] - tzatziki.minutz</title>
  <environment names="Development"></environment>
  <environment names="Staging,Production"></environment>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/AdminLTE.css" />
  <link rel="stylesheet" href="~/css/skins/skin-blue.css">
  <link rel="stylesheet" href="~/lib/fullcalendar.min.css">
  <link rel="stylesheet" href="~/plugins/select2/select2.css" />
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/plugins/jQueryUI/jquery-ui.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <link href="~/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
  <script src="~/plugins/timepicker/bootstrap-timepicker.js"></script>
  <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
  <link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />
  <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
  <script src="~/lib/moment.min.js" asp-append-version="true"></script>
  <script src="~/lib/moment-timezone-with-data-2012-2022.min.js"></script>
  <script src="~/plugins/select2/select2.full.js"></script>
  <script src="~/lib/fullcalendar.min.js" asp-append-version="true"></script>
  <script src="~/plugins/dropzone.js"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="~/plugins/dropzone.js"></script>

  <script src="~/lib/trumbowyg.js"></script>
  <link rel="stylesheet" href="~/lib/ui/trumbowyg.css">

  @Html.Raw(JavaScriptSnippet.FullScript)
  <script type="text/javascript">

    var minutz = {
      functions: {
        get: {
          value: function (control) { return $('#' + control).val(); },
          datepicker: function (control) { return $('#' + control).datepicker().val(); },
          text: function (control) { return $('#' + control).text(); }
        },
        set: {
          value: function (control, value) { $('#' + control).val(value); },
          text: function (control, value) { $('#' + control).text(value); }
        },
        getValue: function (control) { return $('#' + control).val(); },
        setValue: function (control, value) { $('#' + control).val(value); },
        addHtml: function (control, html) { $('#' + control).append(html); },
        s4: function () { return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1); },
        createId: function () {
          return minutz.functions.s4() + minutz.functions.s4() + '-' + minutz.functions.s4() + '-' + minutz.functions.s4() + '-' + minutz.functions.s4() + '-' + minutz.functions.s4() + minutz.functions.s4() + minutz.functions.s4();
        },
        findIndex: function (collection, id) {
          for (var q = 0; q < collection.length; q++) {
            var check = collection[q];
            if (check.Id == id) {
              return q;
            }
          }
        },
        find: function (collection, id) {
          for (var q = 0; q < collection.length; q++) {
            var check = collection[q];
            if (check.Id == id) {
              return check;
            }
          }
        }
      },
      controls: [],
      properties: { POST: "POST", GET: "GET", JSON: "json", lightGrey: '#F7F7F7', white: 'white', backgroundColor: 'background-color' }
    };

    var meeting = {
      Id: 0,
      Name: "",
      IsLocked: false,
      Location: "",
      Date: "",
      Time: "",
      Duration: "",
      IsReacurance: false,
      IsPrivate: false,
      IsFormal: false,
      TimeZone: "",
      Tag: [],
      MeetingAttendeeCollection: [],
      Purpose: "",
      Outcome: "",
      MeetingAgendaCollection: [],
      SelectedAgendaItemId: "",
      MeetingActionCollection: [],
      SelectedAgendaNoteId: "",
      MeetingNoteCollection: [],
      MeetingAttachmentCollection: [],
      SelectedAgendaFileId: ""
    };
  </script>
  <style>
    .center-navbar {
      display: block;
      text-align: center;
      color: white;
      padding: 15px;
      /* adjust based on your layout */
      margin-left: 50px;
      margin-right: 300px;
    }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: white;
      color: #000000;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: white;
      border-color: #337ab7;
      color: #000000;
    }

    .skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
      color: #000000;
    }

    
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <img height="40" src="img/Minutz_Logo_Icon.png" />
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <img height="50" src="img/Minutz_Logo.png" />
        </span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li style="font-size: 20px; padding-top: 10px; position: absolute; left: 50px;">
                @ViewData["Title"]
              </li>
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu topmenuitem hide">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li id="notificationsSection" class="dropdown notifications-menu topmenuitem"></li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu topmenuitem hide">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li>
                        <!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li>
                        <!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li>
                        <!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li id="userSection" class="dropdown user user-menu"></li>
              <!-- Control Sidebar Toggle Button -->
              <li id="settings" style="display:none;" class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                <ul class="dropdown-menu">
                  <li class="header"><a id="logOut" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
</nav>
    </header>
    <aside id="sideMenuSection" class="main-sidebar"></aside>
    <div class="content-wrapper">
      <div id="view">
        @RenderBody()
      </div>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs version">
        <b>Version </b>@System.Reflection.Assembly.GetEntryAssembly().GetName().Version.ToString()
      </div>
      <strong>Copyright &copy; 2017 <a href="http://tzatziki.com">Tzatziki</a>.</strong> All rights
      reserved.
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Create the tabs -->
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
          <h3 class="control-sidebar-heading">Recent Activity</h3>
          <ul class="control-sidebar-menu">
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                  <p>Will be 23 on April 24th</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-user bg-yellow"></i>
                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                  <p>New phone +1(800)555-1234</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                  <p>nora@example.com</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                  <p>Execution time 5 seconds</p>
                </div>
              </a>
            </li>
          </ul>
          <!-- /.control-sidebar-menu -->
          <h3 class="control-sidebar-heading">Tasks Progress</h3>
          <ul class="control-sidebar-menu">
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  Custom Template Design
                  <span class="label label-danger pull-right">70%</span>
                </h4>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  Update Resume
                  <span class="label label-success pull-right">95%</span>
                </h4>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  Laravel Integration
                  <span class="label label-warning pull-right">50%</span>
                </h4>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  Back End Framework
                  <span class="label label-primary pull-right">68%</span>
                </h4>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                </div>
              </a>
            </li>
          </ul>
          <!-- /.control-sidebar-menu -->
        </div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
          <form method="post">
            <h3 class="control-sidebar-heading">General Settings</h3>
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Report panel usage
                <input type="checkbox" class="pull-right" checked>
              </label>
              <p>
                Some information about this general settings option
              </p>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Allow mail redirect
                <input type="checkbox" class="pull-right" checked>
              </label>
              <p>
                Other sets of options are available
              </p>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Expose author name in posts
                <input type="checkbox" class="pull-right" checked>
              </label>
              <p>
                Allow the user to show his name in blog posts
              </p>
            </div>
            <!-- /.form-group -->
            <h3 class="control-sidebar-heading">Chat Settings</h3>
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Show me as online
                <input type="checkbox" class="pull-right" checked>
              </label>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Turn off notifications
                <input type="checkbox" class="pull-right">
              </label>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label class="control-sidebar-subheading">
                Delete chat history
                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
              </label>
            </div>
            <!-- /.form-group -->
          </form>
        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <div class="control-sidebar-bg"></div>
  </div>

  @RenderSection("Scripts", required: false)

  <script>

    (function (g) {
      var h = { en: { day: "day", hour: "hour", minute: "minute", second: "second", days: "days", hours: "hours", minutes: "minutes", seconds: "seconds" }, es: { day: "d&iacute;a", hour: "hora", minute: "minuto", second: "segundo", days: "d&iacute;s", hours: "horas", minutes: "minutos", seconds: "segundos" } }; g.fn.durationPicker = function (m) {
        var a = 0, b = g.extend({}, { lang: "en", max: 59, checkRanges: !1, totalMax: 31556952E3, totalMin: 6E4, showSeconds: !1, showDays: !0 }, m); this.each(function (m, q) {
          function e(a, b) {
            return '<div class="bdp-block ' + (b ?
              "hidden" : "") + '"><span id="bdp-' + a + '"></span><br><span class="bdp-label" id="' + a + '_label"></span></div>'
          } function n() { $mainInput.val() || $mainInput.val(0); moment.locale(b.lang); a = moment.duration(parseInt($mainInput.val(), 10)); p(); l || (d.days.val(a.days()), d.hours.val(a.hours()), d.minutes.val(a.minutes()), d.seconds.val(a.seconds())) } function r() {
            a = moment.duration({ seconds: parseInt(d.seconds.val()), minutes: parseInt(d.minutes.val()), hours: parseInt(d.hours.val()), days: parseInt(d.days.val()) }); p(); $mainInput.val(a.asMilliseconds());
            $mainInput.change()
          } function k(a, c, f) { var e = g('<input class="form-control input-sm" type="number" min="0" value="0">').change(r); f && e.attr("max", f); d[a] = e; a = g("<div> " + h[b.lang][a] + "</div>"); c && a.addClass("hidden"); return a.prepend(e) } function p() {
          b.checkRanges && (a = a.asMilliseconds() > b.totalMax ? moment.duration(b.totalMax) : a, a = a.asMilliseconds() < b.totalMin ? moment.duration(b.totalMin) : a); c.find("#bdp-days").text(a.days()); c.find("#bdp-hours").text(a.hours()); c.find("#bdp-minutes").text(a.minutes());
            c.find("#bdp-seconds").text(a.seconds()); c.find("#days_label").text(h[b.lang][1 == a.days() ? "day" : "days"]); c.find("#hours_label").text(h[b.lang][1 == a.hours() ? "hour" : "hours"]); c.find("#minutes_label").text(h[b.lang][1 == a.minutes() ? "minute" : "minutes"]); c.find("#seconds_label").text(h[b.lang][1 == a.seconds() ? "second" : "seconds"])
          } $mainInput = g(q); if ("1" !== $mainInput.data("bdp")) {
            var c = g('<div class="bdp-input"></div>'); c.append(e("days", !b.showDays)); c.append(e("hours")); c.append(e("minutes")); c.append(e("seconds",
              !b.showSeconds)); $mainInput.after(c).hide().data("bdp", "1"); var d = [], l = !1; if ($mainInput.hasClass("disabled") || "disabled" == $mainInput.attr("disabled")) l = !0, c.addClass("disabled"); if (!l) { var f = g('<div class="bdp-popover"></div>'); k("days", !b.showDays).appendTo(f); k("hours", !1, 23).appendTo(f); k("minutes", !1, 59).appendTo(f); k("seconds", !b.showSeconds, 59).appendTo(f); c.popover({ placement: "bottom", trigger: "click", html: !0, content: f }) } n(); $mainInput.change(n)
          }
        })
      }
    })(jQuery);
  </script>
  <script>
    $.AdminLTE = {};
    $.AdminLTE.options = {
      //Add slimscroll to navbar menus
      //This requires you to load the slimscroll plugin
      //in every page before app.js
      navbarMenuSlimscroll: true,
      navbarMenuSlimscrollWidth: "3px", //The width of the scroll bar
      navbarMenuHeight: "200px", //The height of the inner menu
      //General animation speed for JS animated elements such as box collapse/expand and
      //sidebar treeview slide up/down. This option accepts an integer as milliseconds,
      //'fast', 'normal', or 'slow'
      animationSpeed: 500,
      //Sidebar push menu toggle button selector
      sidebarToggleSelector: "[data-toggle='offcanvas']",
      //Activate sidebar push menu
      sidebarPushMenu: true,
      //Activate sidebar slimscroll if the fixed layout is set (requires SlimScroll Plugin)
      sidebarSlimScroll: true,
      //Enable sidebar expand on hover effect for sidebar mini
      //This option is forced to true if both the fixed layout and sidebar mini
      //are used together
      sidebarExpandOnHover: false,
      //BoxRefresh Plugin
      enableBoxRefresh: true,
      //Bootstrap.js tooltip
      enableBSToppltip: true,
      BSTooltipSelector: "[data-toggle='tooltip']",
      //Enable Fast Click. Fastclick.js creates a more
      //native touch experience with touch devices. If you
      //choose to enable the plugin, make sure you load the script
      //before AdminLTE's app.js
      enableFastclick: false,
      //Control Sidebar Tree views
      enableControlTreeView: true,
      //Control Sidebar Options
      enableControlSidebar: true,
      controlSidebarOptions: {
        //Which button should trigger the open/close event
        toggleBtnSelector: "[data-toggle='control-sidebar']",
        //The sidebar selector
        selector: ".control-sidebar",
        //Enable slide over content
        slide: true
      },
      //Box Widget Plugin. Enable this plugin
      //to allow boxes to be collapsed and/or removed
      enableBoxWidget: true,
      //Box Widget plugin options
      boxWidgetOptions: {
        boxWidgetIcons: {
          //Collapse icon
          collapse: 'fa-minus',
          //Open icon
          open: 'fa-plus',
          //Remove icon
          remove: 'fa-times'
        },
        boxWidgetSelectors: {
          //Remove button selector
          remove: '[data-widget="remove"]',
          //Collapse button selector
          collapse: '[data-widget="collapse"]'
        }
      },
      //Direct Chat plugin options
      directChat: {
        //Enable direct chat by default
        enable: true,
        //The button to open and close the chat contacts pane
        contactToggleSelector: '[data-widget="chat-pane-toggle"]'
      },
      //Define the set of colors to use globally around the website
      colors: {
        lightBlue: "#3c8dbc",
        red: "#f56954",
        green: "#00a65a",
        aqua: "#00c0ef",
        yellow: "#f39c12",
        blue: "#0073b7",
        navy: "#001F3F",
        teal: "#39CCCC",
        olive: "#3D9970",
        lime: "#01FF70",
        orange: "#FF851B",
        fuchsia: "#F012BE",
        purple: "#8E24AA",
        maroon: "#D81B60",
        black: "#222222",
        gray: "#d2d6de"
      },
      //The standard screen sizes that bootstrap uses.
      //If you change these in the variables.less file, change
      //them here too.
      screenSizes: {
        xs: 480,
        sm: 768,
        md: 992,
        lg: 1200
      }
    };
  </script>
  <script>
    window.intercomSettings = {
      app_id: "oili1ns3",
      name: "@User.ToProfile().Name", 	// Full name
      email: "@User.ToProfile().EmailAddress}", 		// Email address
      created_at: "@User.ToProfile().Created_At",			// Signup date as a Unix timestamp (When Person was created in Minutz)
      "VFPage": window.location			// VisualForce page
    };
  </script>
  <script>
    /* ------------------
 * - Implementation -
 * ------------------
 * The next block of code implements AdminLTE's
 * functions and plugins as specified by the
 * options above.
 */
    $(function () {
      "use strict";

      //Fix for IE page transitions
      $("body").removeClass("hold-transition");

      //Extend options if external options exist
      if (typeof AdminLTEOptions !== "undefined") {
        $.extend(true,
          $.AdminLTE.options,
          AdminLTEOptions);
      }

      //Easy access to options
      var o = $.AdminLTE.options;

      //Set up the object
      _init();

      //Activate the layout maker
      $.AdminLTE.layout.activate();

      //Enable sidebar tree view controls
      if (o.enableControlTreeView) {
        $.AdminLTE.tree('.sidebar');
      }

      //Enable control sidebar
      if (o.enableControlSidebar) {
        $.AdminLTE.controlSidebar.activate();
      }

      //Add slimscroll to navbar dropdown
      if (o.navbarMenuSlimscroll && typeof $.fn.slimscroll != 'undefined') {
        $(".navbar .menu").slimscroll({
          height: o.navbarMenuHeight,
          alwaysVisible: false,
          size: o.navbarMenuSlimscrollWidth
        }).css("width", "100%");
      }

      //Activate sidebar push menu
      if (o.sidebarPushMenu) {
        $.AdminLTE.pushMenu.activate(o.sidebarToggleSelector);
      }

      //Activate Bootstrap tooltip
      if (o.enableBSToppltip) {
        $('body').tooltip({
          selector: o.BSTooltipSelector,
          container: 'body'
        });
      }

      //Activate box widget
      if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
      }

      //Activate fast click
      if (o.enableFastclick && typeof FastClick != 'undefined') {
        FastClick.attach(document.body);
      }

      //Activate direct chat widget
      if (o.directChat.enable) {
        $(document).on('click', o.directChat.contactToggleSelector, function () {
          var box = $(this).parents('.direct-chat').first();
          box.toggleClass('direct-chat-contacts-open');
        });
      }

      /*
       * INITIALIZE BUTTON TOGGLE
       * ------------------------
       */
      $('.btn-group[data-toggle="btn-toggle"]').each(function () {
        var group = $(this);
        $(this).find(".btn").on('click', function (e) {
          group.find(".btn.active").removeClass("active");
          $(this).addClass("active");
          e.preventDefault();
        });

      });
    });

    /* ----------------------------------
     * - Initialize the AdminLTE Object -
     * ----------------------------------
     * All AdminLTE functions are implemented below.
     */
    function _init() {
      'use strict';
      /* Layout
       * ======
       * Fixes the layout height in case min-height fails.
       *
       * type Object
       * usage $.AdminLTE.layout.activate()
       *        $.AdminLTE.layout.fix()
       *        $.AdminLTE.layout.fixSidebar()
       */
      $.AdminLTE.layout = {
        activate: function () {
          var _this = this;
          _this.fix();
          _this.fixSidebar();
          $('body, html, .wrapper').css('height', 'auto');
          $(window, ".wrapper").resize(function () {
            _this.fix();
            _this.fixSidebar();
          });
        },
        fix: function () {
          // Remove overflow from .wrapper if layout-boxed exists
          $(".layout-boxed > .wrapper").css('overflow', 'hidden');
          //Get window height and the wrapper height
          var footer_height = $('.main-footer').outerHeight() || 0;
          var neg = $('.main-header').outerHeight() + footer_height;
          var window_height = $(window).height();
          var sidebar_height = $(".sidebar").height() || 0;
          //Set the min-height of the content and sidebar based on the
          //the height of the document.
          if ($("body").hasClass("fixed")) {
            $(".content-wrapper, .right-side").css('min-height', window_height - footer_height);
          } else {
            var postSetWidth;
            if (window_height >= sidebar_height) {
              $(".content-wrapper, .right-side").css('min-height', window_height - neg);
              postSetWidth = window_height - neg;
            } else {
              $(".content-wrapper, .right-side").css('min-height', sidebar_height);
              postSetWidth = sidebar_height;
            }

            //Fix for the control sidebar height
            var controlSidebar = $($.AdminLTE.options.controlSidebarOptions.selector);
            if (typeof controlSidebar !== "undefined") {
              if (controlSidebar.height() > postSetWidth)
                $(".content-wrapper, .right-side").css('min-height', controlSidebar.height());
            }

          }
        },
        fixSidebar: function () {
          //Make sure the body tag has the .fixed class
          if (!$("body").hasClass("fixed")) {
            if (typeof $.fn.slimScroll != 'undefined') {
              $(".sidebar").slimScroll({ destroy: true }).height("auto");
            }
            return;
          } else if (typeof $.fn.slimScroll == 'undefined' && window.console) {
            window.console.error("Error: the fixed layout requires the slimscroll plugin!");
          }
          //Enable slimscroll for fixed layout
          if ($.AdminLTE.options.sidebarSlimScroll) {
            if (typeof $.fn.slimScroll != 'undefined') {
              //Destroy if it exists
              $(".sidebar").slimScroll({ destroy: true }).height("auto");
              //Add slimscroll
              $(".sidebar").slimScroll({
                height: ($(window).height() - $(".main-header").height()) + "px",
                color: "rgba(0,0,0,0.2)",
                size: "3px"
              });
            }
          }
        }
      };

      /* PushMenu()
       * ==========
       * Adds the push menu functionality to the sidebar.
       *
       * type Function
       * usage: $.AdminLTE.pushMenu("[data-toggle='offcanvas']")
       */
      $.AdminLTE.pushMenu = {
        activate: function (toggleBtn) {
          //Get the screen sizes
          var screenSizes = $.AdminLTE.options.screenSizes;

          //Enable sidebar toggle
          $(document).on('click', toggleBtn, function (e) {
            e.preventDefault();

            //Enable sidebar push menu
            if ($(window).width() > (screenSizes.sm - 1)) {
              if ($("body").hasClass('sidebar-collapse')) {
                $("body").removeClass('sidebar-collapse').trigger('expanded.pushMenu');
              } else {
                $("body").addClass('sidebar-collapse').trigger('collapsed.pushMenu');
              }
            }
            //Handle sidebar push menu for small screens
            else {
              if ($("body").hasClass('sidebar-open')) {
                $("body").removeClass('sidebar-open').removeClass('sidebar-collapse').trigger('collapsed.pushMenu');
              } else {
                $("body").addClass('sidebar-open').trigger('expanded.pushMenu');
              }
            }
          });

          $(".content-wrapper").click(function () {
            //Enable hide menu when clicking on the content-wrapper on small screens
            if ($(window).width() <= (screenSizes.sm - 1) && $("body").hasClass("sidebar-open")) {
              $("body").removeClass('sidebar-open');
            }
          });

          //Enable expand on hover for sidebar mini
          if ($.AdminLTE.options.sidebarExpandOnHover
            || ($('body').hasClass('fixed')
              && $('body').hasClass('sidebar-mini'))) {
            this.expandOnHover();
          }
        },
        expandOnHover: function () {
          var _this = this;
          var screenWidth = $.AdminLTE.options.screenSizes.sm - 1;
          //Expand sidebar on hover
          $('.main-sidebar').hover(function () {
            if ($('body').hasClass('sidebar-mini')
              && $("body").hasClass('sidebar-collapse')
              && $(window).width() > screenWidth) {
              _this.expand();
            }
          }, function () {
            if ($('body').hasClass('sidebar-mini')
              && $('body').hasClass('sidebar-expanded-on-hover')
              && $(window).width() > screenWidth) {
              _this.collapse();
            }
          });
        },
        expand: function () {
          $("body").removeClass('sidebar-collapse').addClass('sidebar-expanded-on-hover');
        },
        collapse: function () {
          if ($('body').hasClass('sidebar-expanded-on-hover')) {
            $('body').removeClass('sidebar-expanded-on-hover').addClass('sidebar-collapse');
          }
        }
      };

      /* Tree()
       * ======
       * Converts the sidebar into a multilevel
       * tree view menu.
       *
       * type Function
       * Usage: $.AdminLTE.tree('.sidebar')
       */
      $.AdminLTE.tree = function (menu) {
        var _this = this;
        var animationSpeed = $.AdminLTE.options.animationSpeed;
        $(document).off('click', menu + ' li a')
          .on('click', menu + ' li a', function (e) {
            //Get the clicked link and the next element
            var $this = $(this);
            var checkElement = $this.next();

            //Check if the next element is a menu and is visible
            if ((checkElement.is('.treeview-menu')) && (checkElement.is(':visible')) && (!$('body').hasClass('sidebar-collapse'))) {
              //Close the menu
              checkElement.slideUp(animationSpeed, function () {
                checkElement.removeClass('menu-open');
                //Fix the layout in case the sidebar stretches over the height of the window
                //_this.layout.fix();
              });
              checkElement.parent("li").removeClass("active");
            }
            //If the menu is not visible
            else if ((checkElement.is('.treeview-menu')) && (!checkElement.is(':visible'))) {
              //Get the parent menu
              var parent = $this.parents('ul').first();
              //Close all open menus within the parent
              var ul = parent.find('ul:visible').slideUp(animationSpeed);
              //Remove the menu-open class from the parent
              ul.removeClass('menu-open');
              //Get the parent li
              var parent_li = $this.parent("li");

              //Open the target menu and add the menu-open class
              checkElement.slideDown(animationSpeed, function () {
                //Add the class active to the parent li
                checkElement.addClass('menu-open');
                parent.find('li.active').removeClass('active');
                parent_li.addClass('active');
                //Fix the layout in case the sidebar stretches over the height of the window
                _this.layout.fix();
              });
            }
            //if this isn't a link, prevent the page from being redirected
            if (checkElement.is('.treeview-menu')) {
              e.preventDefault();
            }
          });
      };

      /* ControlSidebar
       * ==============
       * Adds functionality to the right sidebar
       *
       * type Object
       * usage $.AdminLTE.controlSidebar.activate(options)
       */
      $.AdminLTE.controlSidebar = {
        //instantiate the object
        activate: function () {
          //Get the object
          var _this = this;
          //Update options
          var o = $.AdminLTE.options.controlSidebarOptions;
          //Get the sidebar
          var sidebar = $(o.selector);
          //The toggle button
          var btn = $(o.toggleBtnSelector);

          //Listen to the click event
          btn.on('click', function (e) {
            e.preventDefault();
            //If the sidebar is not open
            if (!sidebar.hasClass('control-sidebar-open')
              && !$('body').hasClass('control-sidebar-open')) {
              //Open the sidebar
              _this.open(sidebar, o.slide);
            } else {
              _this.close(sidebar, o.slide);
            }
          });

          //If the body has a boxed layout, fix the sidebar bg position
          var bg = $(".control-sidebar-bg");
          _this._fix(bg);

          //If the body has a fixed layout, make the control sidebar fixed
          if ($('body').hasClass('fixed')) {
            _this._fixForFixed(sidebar);
          } else {
            //If the content height is less than the sidebar's height, force max height
            if ($('.content-wrapper, .right-side').height() < sidebar.height()) {
              _this._fixForContent(sidebar);
            }
          }
        },
        //Open the control sidebar
        open: function (sidebar, slide) {
          //Slide over content
          if (slide) {
            sidebar.addClass('control-sidebar-open');
          } else {
            //Push the content by adding the open class to the body instead
            //of the sidebar itself
            $('body').addClass('control-sidebar-open');
          }
        },
        //Close the control sidebar
        close: function (sidebar, slide) {
          if (slide) {
            sidebar.removeClass('control-sidebar-open');
          } else {
            $('body').removeClass('control-sidebar-open');
          }
        },
        _fix: function (sidebar) {
          var _this = this;
          if ($("body").hasClass('layout-boxed')) {
            sidebar.css('position', 'absolute');
            sidebar.height($(".wrapper").height());
            if (_this.hasBindedResize) {
              return;
            }
            $(window).resize(function () {
              _this._fix(sidebar);
            });
            _this.hasBindedResize = true;
          } else {
            sidebar.css({
              'position': 'fixed',
              'height': 'auto'
            });
          }
        },
        _fixForFixed: function (sidebar) {
          sidebar.css({
            'position': 'fixed',
            'max-height': '100%',
            'overflow': 'auto',
            'padding-bottom': '50px'
          });
        },
        _fixForContent: function (sidebar) {
          $(".content-wrapper, .right-side").css('min-height', sidebar.height());
        }
      };

      /* BoxWidget
       * =========
       * BoxWidget is a plugin to handle collapsing and
       * removing boxes from the screen.
       *
       * type Object
       * usage $.AdminLTE.boxWidget.activate()
       *        Set all your options in the main $.AdminLTE.options object
       */
      $.AdminLTE.boxWidget = {
        selectors: $.AdminLTE.options.boxWidgetOptions.boxWidgetSelectors,
        icons: $.AdminLTE.options.boxWidgetOptions.boxWidgetIcons,
        animationSpeed: $.AdminLTE.options.animationSpeed,
        activate: function (_box) {
          var _this = this;
          if (!_box) {
            _box = document; // activate all boxes per default
          }
          //Listen for collapse event triggers
          $(_box).on('click', _this.selectors.collapse, function (e) {
            e.preventDefault();
            _this.collapse($(this));
          });

          //Listen for remove event triggers
          $(_box).on('click', _this.selectors.remove, function (e) {
            e.preventDefault();
            _this.remove($(this));
          });
        },
        collapse: function (element) {
          var _this = this;
          //Find the box parent
          var box = element.parents(".box").first();
          //Find the body and the footer
          var box_content = box.find("> .box-body, > .box-footer, > form  >.box-body, > form > .box-footer");
          if (!box.hasClass("collapsed-box")) {
            //Convert minus into plus
            element.children(":first")
              .removeClass(_this.icons.collapse)
              .addClass(_this.icons.open);
            //Hide the content
            box_content.slideUp(_this.animationSpeed, function () {
              box.addClass("collapsed-box");
            });
          } else {
            //Convert plus into minus
            element.children(":first")
              .removeClass(_this.icons.open)
              .addClass(_this.icons.collapse);
            //Show the content
            box_content.slideDown(_this.animationSpeed, function () {
              box.removeClass("collapsed-box");
            });
          }
        },
        remove: function (element) {
          //Find the box parent
          var box = element.parents(".box").first();
          box.slideUp(this.animationSpeed);
        }
      };
    }

    /* ------------------
     * - Custom Plugins -
     * ------------------
     * All custom plugins are defined below.
     */

    /*
     * BOX REFRESH BUTTON
     * ------------------
     * This is a custom plugin to use with the component BOX. It allows you to add
     * a refresh button to the box. It converts the box's state to a loading state.
     *
     * type plugin
     * usage $("#box-widget").boxRefresh( options );
     */
    (function ($) {

      "use strict";

      $.fn.boxRefresh = function (options) {

        // Render options
        var settings = $.extend({
          //Refresh button selector
          trigger: ".refresh-btn",
          //File source to be loaded (e.g: ajax/src.php)
          source: "",
          //Callbacks
          onLoadStart: function (box) {
            return box;
          }, //Right after the button has been clicked
          onLoadDone: function (box) {
            return box;
          } //When the source has been loaded

        }, options);

        //The overlay
        var overlay = $('<div class="overlay"><div class="fa fa-refresh fa-spin"></div></div>');

        return this.each(function () {
          //if a source is specified
          if (settings.source === "") {
            if (window.console) {
              window.console.log("Please specify a source first - boxRefresh()");
            }
            return;
          }
          //the box
          var box = $(this);
          //the button
          var rBtn = box.find(settings.trigger).first();

          //On trigger click
          rBtn.on('click', function (e) {
            e.preventDefault();
            //Add loading overlay
            start(box);

            //Perform ajax call
            box.find(".box-body").load(settings.source, function () {
              done(box);
            });
          });
        });

        function start(box) {
          //Add overlay and loading img
          box.append(overlay);

          settings.onLoadStart.call(box);
        }

        function done(box) {
          //Remove overlay and loading img
          box.find(overlay).remove();

          settings.onLoadDone.call(box);
        }

      };

    })(jQuery);

    /*
     * EXPLICIT BOX CONTROLS
     * -----------------------
     * This is a custom plugin to use with the component BOX. It allows you to activate
     * a box inserted in the DOM after the app.js was loaded, toggle and remove box.
     *
     * type plugin
     * usage $("#box-widget").activateBox();
     * usage $("#box-widget").toggleBox();
     * usage $("#box-widget").removeBox();
     */
    (function ($) {

      'use strict';

      $.fn.activateBox = function () {
        $.AdminLTE.boxWidget.activate(this);
      };

      $.fn.toggleBox = function () {
        var button = $($.AdminLTE.boxWidget.selectors.collapse, this);
        $.AdminLTE.boxWidget.collapse(button);
      };

      $.fn.removeBox = function () {
        var button = $($.AdminLTE.boxWidget.selectors.remove, this);
        $.AdminLTE.boxWidget.remove(button);
      };

    })(jQuery);

    /*
     * TODO LIST CUSTOM PLUGIN
     * -----------------------
     * This plugin depends on iCheck plugin for checkbox and radio inputs
     *
     * type plugin
     * usage $("#todo-widget").todolist( options );
     */
    (function ($) {

      'use strict';

      $.fn.todolist = function (options) {
        // Render options
        var settings = $.extend({
          //When the user checks the input
          onCheck: function (ele) {
            return ele;
          },
          //When the user unchecks the input
          onUncheck: function (ele) {
            return ele;
          }
        }, options);

        return this.each(function () {

          if (typeof $.fn.iCheck != 'undefined') {
            $('input', this).on('ifChecked', function () {
              var ele = $(this).parents("li").first();
              ele.toggleClass("done");
              settings.onCheck.call(ele);
            });

            $('input', this).on('ifUnchecked', function () {
              var ele = $(this).parents("li").first();
              ele.toggleClass("done");
              settings.onUncheck.call(ele);
            });
          } else {
            $('input', this).on('change', function () {
              var ele = $(this).parents("li").first();
              ele.toggleClass("done");
              if ($('input', ele).is(":checked")) {
                settings.onCheck.call(ele);
              } else {
                settings.onUncheck.call(ele);
              }
            });
          }
        });
      };
    }(jQuery));
  </script>

  <script>

    (function () {
      "use strict";

      var w = window;
      var ic = w.Intercom;
      if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
      } else {
        var d = document;
        var i = function () { i.c(arguments) };
        i.q = []; i.c = function (args) { i.q.push(args) };
        w.Intercom = i;
        function l() {
          var s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/oili1ns3';
          var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); }
      }

      $('#notificationsSection').load('/Home/Notifications');
      $('#userSection').load('/Home/UserSwitcher');
      $('#sideMenuSection').load('/Home/MainMenu');

    })()</script>
  <style>
    #intercom-container .intercom-launcher-frame {
      bottom: 10px !important;
    }

    .version {
      padding-right: 100px;
    }

  </style>
</body>
</html>