
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model tzatziki.minutz.models.Auth.UserProfile
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="@User.ToProfile().ProfileImage" class="user-image" alt="User Image">
      <span class="hidden-xs">@Model.Name</span>
    </a>
    <ul class="dropdown-menu">
      <li class="user-header">
        <img src="@User.ToProfile().ProfileImage" class="img-circle" alt="User Image">
        <p>
          @Model.Name - @Model.Role
          <small>@Model.Created_At</small>
        </p>
      </li>
      <li class="user-body hide">
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a asp-controller="Account" asp-action="Index" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
          <a asp-controller="Account" asp-action="Logout" class="btn btn-default btn-flat">Sign out</a>
        </div>
      </li>
    </ul>