@model tzatziki.minutz.models.MeetngModel
@{
  ViewData["Title"] = "Meeting";
}
<link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<style>
  .material-switch > input[type="checkbox"] {
    display: none;
  }

  .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
  }

    .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
    }

    .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }

  .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
  }

  .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
  }

  .row-item {
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .round-button-circle {
    width: 45px;
    height: 0;
    padding-bottom: 45px;
    border-radius: 45px;
    border: 0px solid #cfdcec;
    overflow: hidden;
    background: #47A9D6;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    color: white;
  }

    .round-button-circle i {
      padding-top: 9px;
      padding-left: 10px;
    }

  .text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    padding: 3px 10px;
  }

  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
  }

    input:focus {
      outline: none;
    }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }

  /* active state */

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .dropdown-padding {
    padding-left: 10px;
    font-weight: bold;
  }

  /* active state */
  input:focus ~ .highlight {
    /*animation: inputHighlighter 0.3s ease;*/
  }

  .row-white {
    background-color: #fff;
  }

  .panel {
    border: 0px solid transparent !important;
  }

  .panel-title {
    margin-top: inherit !important;
    margin-bottom: inherit !important;
    font-size: 16px;
    color: inherit;
    background-color: #D7D7D7;
  }

  .panel-heading {
    padding: 0px 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
</style>

<div class="container-fluid">

  <div class="row hide">
    <div class="container-fluid">
      <div class="pull-left col-lg-10">
        <div class="col-md-3 ">
          <h3>My Organisation Name</h3>
        </div>
        <div class="col-md-6 pull-left">
          <h4 class="pull-left" style="padding-top: 10px;">Create Meeting</h4>
        </div>
      </div>
      <div class="pull-right">
        <div class="round-button-circle"><i class="fa fa-cogs fa-2x"></i></div>
      </div>
    </div>
  </div>
  @*This is top heading row row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-md-12">
        <input type="text" style="font-size: 30px; font-weight: bold;" placeholder="Meeting Name" />
      </div>
      <div class="col-md-2 pull-right hide">
        <div class="dropdown pull-right" style="padding-top:25px;">
          <div class=" dropdown-toggle" type="button" id="projectSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-briefcase"></i>
            <span class="dropdown-padding">Project</span>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
  @*This is meeting time controler row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-sm-5">
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group date">
            <input type="text" id="date" class="form-control"><span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group bootstrap-timepicker timepicker">
            <input id="meetingTime" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="col-md-4">
          <div class="input-group bootstrap-timepicker timepicker">
            <input id="duration" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group bootstrap-timepicker timepicker">
            <span class="input-group-addon"><i class="fa fa-refresh"></i></span>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="padding-left:5px; padding-right:5px;"> Set Recurrence  </span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu products-list product-list-in-box">
                <li class="item" style="text-align: center;">Daily</li>
                <li class="item" style="text-align: center;">Weekly</li>
                <li class="item" style="text-align: center;">Monthly</li>
                <li class="item" style="text-align: center;">Yearly</li>
                <li class="item" style="text-align: center;">None</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags"></i></span>
            <input type="text" class="form-control" placeholder="Add a tag" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="checkbox">
          <label style="pointer-events: auto; padding-left: 0px; top: -2px; ">
            <input type="checkbox" style="margin-left: -70px;">Private Meeting
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
</div>

@*This is invations row*@
<div class="row row-item row-grey">
  <div class="container-fluid">
    <div class="col-lg-5">
      <div class="col-md-3">
        <a class="btn btn-info"><i class="fa fa-paper-plane-o"></i><span style="padding-left:5px;">Send Invatations</span></a>
      </div>
      <div class="col-md-3">
        <a class="btn " style="background-color:white; color:black;">
          <i class="fa fa-eye"></i>
          <span>Preview Invite</span>
        </a>
      </div>
    </div>
    <div class="col-lg-5 ">
      <div class="hide">

        <input type="checkbox" class="hide" name="private" value="private" /><span>Private meeting</span>
      </div>
      <div class="hide">
        <input type="checkbox" class="checkbox hide" name="audit" value="audit" /><span>Audited meeting</span>
      </div>
    </div>
  </div>
</div>

<div class="checkbox hide">
  <label><input type="checkbox" value="">Option 1</label>
</div>

<div class="col-md-3 row-grey" style="background-color: #ecf0f5;">
  <div class="row ">
    <div class="box box-widget widget-user-2" style="padding:10px; background-color:#ecf0f5; ">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-blue">
        <div class="widget-user-image">
          <img class="img-circle" src="@User.ToProfile().ProfileImage" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@User.ToProfile().Name</h3>
        <h5 class="widget-user-desc"><b>Role :</b> Organiser</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel-group" style="padding:10px; ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="padding: 20px; ">
            <span>Attendee</span>
            <a id="addUser">
              <div class="round-button-circle pull-right" style="margin-top: -16px;"><i class="fa fa-plus fa-2x"></i></div>
            </a>
          </h4>
          <div id="attendeeCollapse" class="panel-collapse ">
            <div class="input-group" style="width: 100%;">
              <input type="text" name="q" class="form-control" style="height:44px !important" placeholder="Search for people">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                  <img class="img-circle" height="50" width="50" style="margin-left: 5px;" src="@User.ToProfile().ProfileImage" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    @User.ToProfile().Name
                  </a>
                  <span class="product-description">
                    <b>Role :</b> Organiser
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img class="img-circle" height="50" width="50" style="margin-left: 5px;" src="@User.ToProfile().ProfileImage" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    @User.ToProfile().Name
                  </a>
                  <span class="product-description">
                    <b>Role :</b> Organiser
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img class="img-circle" height="50" width="50" style="margin-left: 5px;" src="@User.ToProfile().ProfileImage" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">@User.ToProfile().Name</a>
                  <span class="product-description">
                    <b>Role :</b> Organiser
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img class="img-circle" height="50" width="50" style="margin-left: 5px;" src="@User.ToProfile().ProfileImage" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    @User.ToProfile().Name
                  </a>
                  <span class="product-description">
                    <b>Role :</b> Organiser
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="panel-group" style="padding:10px; ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="padding: 20px; ">
            <span>Attachments</span>
            <a id="addAttachment">
              <div class="round-button-circle pull-right" style="margin-top: -16px;"><i class="fa fa-plus fa-2x"></i></div>
            </a>
          </h4>
          <div id="attendeeCollapse" class="panel-collapse ">
            <div class="input-group">
              <input type="text" name="q" style="height:44px !important" class="form-control" placeholder="Search attachments">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                  <i class="fa fa-file-o fa-2x" style="padding-left: 10px;" aria-hidden="true"></i>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    FileName.pdf
                  </a>
                  <span class="product-description">
                    Linked to Agenda
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <i class="fa fa-file-o fa-2x" style="padding-left: 10px;" aria-hidden="true"></i>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    FileName.pdf
                  </a>
                  <span class="product-description">
                    Linked to Agenda
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <i class="fa fa-file-o fa-2x" style="padding-left: 10px;" aria-hidden="true"></i>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">FileName.pdf</a>
                  <span class="product-description">
                    Linked to Agenda
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <i class="fa fa-file-o fa-2x" style="padding-left: 10px;" aria-hidden="true"></i>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    FileName.pdf
                  </a>
                  <span class="product-description">
                    Linked to Agenda
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9 row-grey" style="background-color: #ecf0f5;">
  <div class="row">
    <div class="panel-group" style="padding:10px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="padding: 20px; ">
            <span>Purpose</span>
            <a data-toggle="collapse" href="#purposeCollapse">
              <div class="round-button-circle pull-right" style="margin-top: -16px;"><i class="fa fa-plus fa-2x"></i></div>
            </a>
          </h4>
        </div>
        <div id="purposeCollapse" class="panel-collapse collapse">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title hide">
                Bootstrap WYSIHTML5
                <small>Simple and fast</small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea id="purposeText" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel-group" style="padding:10px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="padding: 20px; ">
            <span>Outcome</span>
            <a data-toggle="collapse" href="#outcomeCollapse">
              <div class="round-button-circle pull-right" style="margin-top: -16px;"><i class="fa fa-plus fa-2x"></i></div>
            </a>
          </h4>
        </div>
        <div id="outcomeCollapse" class="panel-collapse collapse">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title hide">
                Bootstrap WYSIHTML5
                <small>Simple and fast</small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea id="outcomeText" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel-group" style="padding:10px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="padding: 20px; ">
            <span>Agenda</span>
            <a data-toggle="collapse">
              <div class="round-button-circle pull-right" style="margin-top: -16px;"><i class="fa fa-plus fa-2x"></i></div>
            </a>
          </h4>
        </div>
        <div id="agendaCollapse" class="panel-collapse ">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title hide">
                Bootstrap WYSIHTML5
                <small>Simple and fast</small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea id="agendaText1" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title hide">
                Bootstrap WYSIHTML5
                <small>Simple and fast</small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea id="agendaText2" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title hide">
                Bootstrap WYSIHTML5
                <small>Simple and fast</small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea id="agendaText3" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button onclick="notifyMe()">Notify me!</button>
<!-- FastClick -->
<script src="~/plugins/fastclick/fastclick.js"></script>
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script type="text/javascript">

  $(function () {
    $('#meetingTime').timepicker();

    $('#duration').timepicker({
      minuteStep: 1,
      template: 'modal',
      appendWidgetTo: 'body',
      showSeconds: true,
      showMeridian: false,
      defaultTime: false
    });

    $('#date').datepicker({
      daysOfWeekDisabled: "0,6",
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
      datesDisabled: ['03/06/2017', '03/21/2017'],
      toggleActive: true,
      defaultViewDate: { year: 1977, month: 04, day: 25 }
    });

    $('#meetingNameGroup input').blur(function () {

      // check if the input has any value (if we've typed into it)
      if ($(this).val())
        $(this).addClass('used');
      else
        $(this).removeClass('used');
    });

    $("#purposeText").wysihtml5();
    $("#outcomeText").wysihtml5();
    $("#agendaText1").wysihtml5();
    $("#agendaText2").wysihtml5();
    $("#agendaText3").wysihtml5();

    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }
  });

  function notifyMe() {
    // Let's check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }

    // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      var notification = new Notification("Hi there!");
    }

    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== "denied") {
      Notification.requestPermission(function (permission) {
        // If the user accepts, let's create a notification
        if (permission === "granted") {
          var notification = new Notification("Hi there!");
        }
      });
    }

    // At last, if the user has denied notifications, and you
    // want to be respectful there is no need to bother them any more.
  }
</script>